/build-aux/
/autom4te.cache/
/.idea/
/Makefile
/Makefile.in
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/portculis
/stamp-h1
*.m4
/portculis-0.1.1.tar.gz
/nbproject/
/portculis.layout
/portculis.layout.cbTemp
/1
/make.log
*.1.2.tar.gz
!/m4/samtools.m4
!/m4/ax_cxx_compile_stdcxx_11.m4
!/m4/bamtools.m4
!/m4/dlib.m4
!/m4/cpp_check_lib.m4
!/m4/ax_lib_samtools.m4
!/m4/ax_cpp_lib_check.m4
*.configure.swp
*.2.0.tar.gz
/CMakeLists.txt
*.tar.gz
/portcullis-0.3.0/
callgrind*
/.pydevproject
*.cproject
*.project
/scripts/__pycache__/
*.travis.yml.swp
*.h
*.ac~
/portcullis-*/
/tags
/cmake-build-debug/
*.build_boost.sh.swp
