/Makefile
/Makefile.in
/test-suite.log
/.deps/
/.libs/
/temp/
/check_portculis-check_portculis.o
/check_portculis-genome_mapper_tests.o
/check_portculis-portculis_tests.o
/check_portculis.log
/check_portculis.trs
/check_portculis
*.o
/check_portcullis.trs
/check_portcullis.log
/check_portcullis
/build.log
check_bam*
check_intron*
check_junction*
check_seq*
/check_unit_tests
/check_unit_tests.log
/check_unit_tests.trs
*.la
/compat.sh
/test_full.log
/test_full.trs
/test_substeps.log
/test_substeps.trs
